@import '../../styles/variables';

/**
 Use :host to apply some style to your entire component
 */
:host {
  color: $white;
}

.header {
  background: $linearGradient;
  padding: 1em;
}

.container {
  text-align: center;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
